[Unit]
Description=oxide launcher
#StartLimitIntervalSec=600
#StartLimitBurst=4
After=home.mount
OnFailure=xochitl.service

[Service]
ExecStart=/opt/bin/oxide

[Install]
WantedBy=multi-user.target


