[Unit]
Description=oxide launcher
#StartLimitIntervalSec=600
#StartLimitBurst=4
After=home.mount

[Service]
# Run /opt/bin/oxide if found, if not start xochitl instead (failsafe)
ExecStart=/bin/sh -c 'if [ -f /opt/bin/oxide ]; then /opt/bin/oxide; else systemctl start xochitl; fi'

[Install]
WantedBy=multi-user.target


