[Unit]
Description=oxide system service
After=home.mount
StartLimitInterval=30
StartLimitBurst=5

[Service]
ExecStart=/opt/bin/tarnish
Restart=on-failure
RestartSec=5
Environment="HOME=/home/root"

[Install]
WantedBy=multi-user.target
