name: Build oxide

on: [push, pull_request]

jobs:
  build:
    name: Build and package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout toltec Git repository
        uses: actions/checkout@v2
        with:
          repository: toltec-dev/toltec.git
          ref: testing
      - name: Cleanup
        run: |
          rm -rf package/*
          mkdir -p package/oxide/src
      - uses: actions/checkout@v2.3.1
        with:
          path: package/oxide/src
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Setup Toltec dependencies
        uses: ./.github/actions/setup
      - name: Prepare build files
        run: |
          cd package/oxide/src
          echo "r$(git rev-list --count HEAD).$(git rev-parse --short HEAD)" > ../version.txt
          sed -i "s/~VERSION~/$(cat ../version.txt)/" ./package
          mv ./package ..
          tar --exclude='./.git' -czvf ../oxide.tar.gz .
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v1
        with:
          languages: javascript, cpp
      - name: Build packages
        run: |
          make FLAGS=--verbose oxide
          mkdir output
          find . -name '*.ipk' | while read -r file; do
            cp "$file" output/"$(basename $file)"
          done
        timeout-minutes: 15
      - name: Save packages
        uses: actions/upload-artifact@v2
        with:
          name: packages
          path: output
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v1

