name: publish
on:
  push:
    branches:
      - master
    paths:
      - 'web/**'
      - 'shared/liboxide/**'
      - '.github/actions/web/**'
      - '.github/actions/sync-repository/**'
  workflow_dispatch:
jobs:
  publish:
    name: Build and publish the website
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout the Git repository
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Build web
        uses: ./.github/actions/web
      - name: Sync website with the remote repository
        uses: ./.github/actions/sync-repository
        with:
          local-path: web/dist/
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          ssh-known-hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
          remote-path: ${{ secrets.REMOTE_SSH }}:/_web
